<nav class="alert alert-success navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav nav-pills nav-justified">
		  <li role="presentation" class="<%= 'active' if controller_name == "users" %>">
		  <li role="presentation" class="<%= 'active' if controller_name == "users" %>">
		  	<%= link_to "Users", admin_users_path %>
		  </li>
		  <li role="presentation"><a href="#">Profile</a></li>
		  <li role="presentation"><a href="#">Messages</a></li>
		</ul>
	</div>
</nav>