<h2 class="alert"><%= "#" + @bug.id.to_s %></h2>
<div class="alert alert-success"><%= markdown @bug.content %></div>
<div>
	<%= link_to I18n.t("views.buttons.edit"), edit_admin_bug_path(@bug), class: "btn btn-primary" %>
	<%= link_to I18n.t("views.buttons.delete"), admin_bug_path(@bug), class: "btn btn-warning", method: :delete, confirm: I18n.t("views.messages.delete") %>
</div>