<h2 class="alert"><%= "#" + @solution.id.to_s %></h2>
<div class="alert alert-success"><%= markdown @solution.content %></div>
<div>
	<%= link_to I18n.t("views.buttons.edit"), edit_admin_solution_path(@solution), class: "btn btn-primary" %>
	<%= link_to I18n.t("views.buttons.delete"), admin_solution_path(@solution), class: "btn btn-warning", method: :delete, confirm: I18n.t("views.messages.delete") %>
</div>